@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/nav-bar.css";
@import "components/status-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  color: #2e363e;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

.welcome-header {
  margin-top: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: bold;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
  margin-bottom: 80px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;

  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: var(--font-color);
}

#login-form input:focus {
  border-color: var(--mycolor);
}

#login-form input[type="submit"] {
  background-color: darksalmon;
  cursor: pointer;
  border-radius: 7px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: small;
}
